.weekly-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .get-local {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 1rem;
    letter-spacing: 0.5em;
  }
}
.weekly-body {
  display: flex;
  width: 100vw;
  height: 85vh;
  flex-direction: row;
  align-items: center;
}
