.landing-header {
  display: flex;
  height: 22vh;
  width: 96vw;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  letter-spacing: 0.7vw;
  margin: 2vw;
}
